Repository LucJosin/on_audio_query, pull requests merged in 2023-04, with the labels that each got.

#111 Refactor: Src
  melos.yaml
  packages/on_audio_query/lib/on_audio_query.dart
  packages/on_audio_query/lib/src/on_audio_query.dart
  packages/on_audio_query_platform_interface/lib/details/on_audio_query_helper.dart
  packages/on_audio_query_platform_interface/lib/method_channel_on_audio_query.dart
  packages/on_audio_query_platform_interface/lib/on_audio_query_platform_interface.dart
  packages/on_audio_query_platform_interface/lib/src/extensions/models_extensions.dart
  packages/on_audio_query_platform_interface/lib/src/log/log_config.dart
  packages/on_audio_query_platform_interface/lib/src/models/album_model.dart
  packages/on_audio_query_platform_interface/lib/src/models/artist_model.dart
  packages/on_audio_query_platform_interface/lib/src/models/device_model.dart
  packages/on_audio_query_platform_interface/lib/src/models/genre_model.dart
  packages/on_audio_query_platform_interface/lib/src/models/playlist_model.dart
  packages/on_audio_query_platform_interface/lib/src/models/song_model.dart
  packages/on_audio_query_platform_interface/lib/src/on_audio_query_core.dart
  packages/on_audio_query_platform_interface/lib/src/types/artwork_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/audios_from_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/log_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/order_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/sort_types/album_sort_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/sort_types/artist_sort_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/sort_types/genre_sort_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/sort_types/playlist_sort_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/sort_types/song_sort_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/uri_type.dart
  packages/on_audio_query_platform_interface/lib/src/types/with_filters_type.dart
  packages/on_audio_query_web/lib/on_audio_query_web.dart
  packages/on_audio_query_web/lib/src/extensions/format_extension.dart
  packages/on_audio_query_web/lib/src/on_audio_query_web_controller.dart
  packages/on_audio_query_web/lib/src/types/with_filters_type.dart
Labels: T: Change, P: Dart

#113 Feat: Detailed logging
  packages/on_audio_query/example/ios/Flutter/AppFrameworkInfo.plist
  packages/on_audio_query/example/ios/Runner.xcodeproj/project.pbxproj
  packages/on_audio_query/example/ios/Runner.xcodeproj/xcshareddata/xcschemes/Runner.xcscheme
  packages/on_audio_query/example/ios/Runner/Info.plist
  packages/on_audio_query_android/android/src/main/kotlin/com/lucasjosino/on_audio_query/OnAudioQueryPlugin.kt
  packages/on_audio_query_android/android/src/main/kotlin/com/lucasjosino/on_audio_query/PluginProvider.kt
  packages/on_audio_query_android/android/src/main/kotlin/com/lucasjosino/on_audio_query/queries/AllPathQuery.kt
  packages/on_audio_query_android/android/src/main/kotlin/com/lucasjosino/on_audio_query/queries/ArtworkQuery.kt
  packages/on_audio_query_android/android/src/main/kotlin/com/lucasjosino/on_audio_query/queries/AudioQuery.kt
  packages/on_audio_query_ios/ios/Classes/OnAudioQueryPluginIos.h
  packages/on_audio_query_ios/ios/Classes/OnAudioQueryPluginIos.m
  packages/on_audio_query_ios/ios/Classes/PluginProvider.swift
  packages/on_audio_query_ios/ios/Classes/SwiftOnAudioQueryPlugin.swift
  packages/on_audio_query_ios/ios/Classes/queries/ArtworkQuery.swift
  packages/on_audio_query_ios/ios/on_audio_query_ios.podspec
  packages/on_audio_query_platform_interface/lib/method_channel_on_audio_query.dart
  packages/on_audio_query_platform_interface/lib/src/log/log_config.dart
Labels: Extra: Feature, P: Android, P: IOS

#117 Fix: Update name of podspec to 'on_audio_query_ios' for fixing ios build
  packages/on_audio_query_ios/ios/on_audio_query_ios.podspec
Labels: T: Bug, PRI: High, P: IOS

#118 Update 2.8.1
  .github/workflows/dart-analyzer.yml
  LICENSE
  packages/on_audio_query/CHANGELOG.md
  packages/on_audio_query/README.md
  packages/on_audio_query/pubspec.yaml
  packages/on_audio_query_android/CHANGELOG.md
  packages/on_audio_query_android/pubspec.yaml
  packages/on_audio_query_ios/CHANGELOG.md
  packages/on_audio_query_ios/ios/on_audio_query_ios.podspec
  packages/on_audio_query_ios/pubspec.yaml
  packages/on_audio_query_platform_interface/CHANGELOG.md
  packages/on_audio_query_platform_interface/pubspec.yaml
  packages/on_audio_query_web/CHANGELOG.md
  packages/on_audio_query_web/pubspec.yaml
Labels: T: Bug, PRI: High, P: IOS, P: Dart
